.messageBox{
    /* background-color: gainsboro; */
    width:50%;
    padding:1vmax;
    margin:1vmax;
    border-radius: 0.5vw;
    display: inline-block;
    clear:both;
    font-family: 'Agbalumo';
}


.right{
    float:right;
    background-color: crimson;
    color:white;
}


.left{
    float:left;
    background-color: rgb(133, 221, 133);
}